<svg viewBox="0 0 220 220" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <a href="" {{action 'blink'}}>
    <!-- tail -->
    {{#if moving}}
      <polygon points="10,60 17,30 45,40 100,180" fill="{{bodyColor}}" stroke="{{bodyColor}}" stroke-width="5" stroke-linejoin="round"/>
      <polygon points="10,60 17,30 45,40" fill="{{lightContrastColor}}" stroke="{{lightContrastColor}}" stroke-width="5" stroke-linejoin="round"/>
    {{else}}
      <polygon points="210,60 203,30 175,40 120,180" fill="{{bodyColor}}" stroke="{{bodyColor}}" stroke-width="5" stroke-linejoin="round"/>
      <polygon points="210,60 203,30 175,40" fill="{{lightContrastColor}}" stroke="{{lightContrastColor}}" stroke-width="5" stroke-linejoin="round"/>
    {{/if}}

    <!-- hind legs -->
    <polygon points="52,120 58,122 65,140 77,200 45,150" fill="{{bodyColor}}" stroke="{{bodyColor}}" stroke-width="5" stroke-linejoin="round"/>
    <polygon points="168,120 162,122 155,140 143,200 175,150" fill="{{bodyColor}}" stroke="{{bodyColor}}" stroke-width="5" stroke-linejoin="round"/>

    <polygon points="55,145 58,127 65,140 77,190" fill="{{lightContrastColor}}" stroke="{{lightContrastColor}}" stroke-width="5" stroke-linejoin="round"/>
    <polygon points="165,145 162,127 155,140 143,190" fill="{{lightContrastColor}}" stroke="{{lightContrastColor}}" stroke-width="5" stroke-linejoin="round"/>

    <!-- hind paws -->
    <ellipse cx="60" cy="200" rx="20" ry="8" fill="{{bodyColor}}"/>
    <ellipse cx="160" cy="200" rx="20" ry="8" fill="{{bodyColor}}"/>

    <!-- body -->
    <ellipse cx="110" cy="130" rx="53" ry="65" fill="{{bodyColor}}"/>
    <ellipse cx="110" cy="105" rx="53" ry="25" fill="{{lightContrastColor}}"/>

    <!-- front legs -->
    <polygon points="58,130 80,205 105,205 110,190" fill="{{bodyColor}}"/>
    <polygon points="162,130 140,205 115,205 110,190" fill="{{bodyColor}}"/>

    <!-- toes left -->
    <ellipse cx="90" cy="200" rx="15" ry="9" fill="{{lightContrastColor}}"/>
    <ellipse cx="80" cy="205" rx="5" ry="7" fill="{{lightContrastColor}}"/>
    <ellipse cx="90" cy="205" rx="5" ry="7" fill="{{lightContrastColor}}"/>
    <ellipse cx="100" cy="205" rx="5" ry="7" fill="{{lightContrastColor}}"/>

    <!-- toes right -->
    <ellipse cx="130" cy="200" rx="15" ry="9" fill="{{lightContrastColor}}"/>
    <ellipse cx="120" cy="205" rx="5" ry="7" fill="{{lightContrastColor}}"/>
    <ellipse cx="130" cy="205" rx="5" ry="7" fill="{{lightContrastColor}}"/>
    <ellipse cx="140" cy="205" rx="5" ry="7" fill="{{lightContrastColor}}"/>

    <!-- ears -->
    <polygon points="50,85 110,50 170,85 110,20" fill="{{darkContrastColor}}"/>
    <polygon points="55,100 110,50 165,100 110,20" fill="{{darkContrastColor}}"/>
    <polygon points="50,10 110,25 170,10 155,100 65,100" fill="{{bodyColor}}" />
    <polygon points="55,13 110,45 165,13 155,89 65,89" fill="{{lightContrastColor}}" />

    <!-- head -->
    <ellipse cx="110" cy="65" rx="53" ry="45" fill="{{bodyColor}}"/>

    <!-- eyes -->
    <circle cx="82" cy="70" r="24" fill="{{lightContrastColor}}"/>
    <circle cx="138" cy="70" r="24" fill="{{lightContrastColor}}"/>

    {{#if blinking}}
      <polygon points="84,70 96,70 96,71 84,71 " fill="{{darkContrastColor}}"/>
      <polygon points="124,70 135,70 135,71 124,71 " fill="{{darkContrastColor}}"/>
    {{else}}
      <circle cx="92" cy="70" r="4" fill="{{darkContrastColor}}"/>
      <circle cx="128" cy="70" r="4" fill="{{darkContrastColor}}"/>
    {{/if}}

    <!-- nose  -->
    <circle cx="110" cy="107" r="6" fill="{{noseColor}}"/>

    <!-- fur -->
    <ellipse cx="100" cy="150" rx="5" ry="15" fill="{{lightContrastColor}}"/>
    <ellipse cx="110" cy="150" rx="5" ry="15" fill="{{lightContrastColor}}"/>
    <ellipse cx="120" cy="150" rx="5" ry="15" fill="{{lightContrastColor}}"/>

    <ellipse cx="95" cy="140" rx="5" ry="15" fill="{{bodyColor}}"/>
    <ellipse cx="105" cy="140" rx="5" ry="15" fill="{{bodyColor}}"/>
    <ellipse cx="115" cy="140" rx="5" ry="15" fill="{{bodyColor}}"/>
    <ellipse cx="125" cy="140" rx="5" ry="15" fill="{{bodyColor}}"/>

    <ellipse cx="90" cy="130" rx="6" ry="15" fill="{{lightContrastColor}}"/>
    <ellipse cx="100" cy="130" rx="6" ry="15" fill="{{lightContrastColor}}"/>
    <ellipse cx="110" cy="130" rx="6" ry="15" fill="{{lightContrastColor}}"/>
    <ellipse cx="120" cy="130" rx="6" ry="15" fill="{{lightContrastColor}}"/>
    <ellipse cx="130" cy="130" rx="6" ry="15" fill="{{lightContrastColor}}"/>
  </a>
</svg>
